:root {
    /* Variables para propiedades generales */
    --color-background: #fff;
    --color-text: rgb(51, 51, 51);
    --color-sub-text: #555;
    --color-text-btn: #fff;

    /* Variables para propiedaddes del header */
    --color-fondo-header: rgb(30, 30, 30);
    --color-links: #fff;
    --color-links-hover: rgb(120, 67, 233);

    /* Variables para propiedades de section home */
    --color-btn: rgb(120, 67, 233);
    --color-hover: rgba(120, 67, 233, 0.176);
    --gradient-background: linear-gradient(to bottom right, #ff7e5f 0%, #f5b049 50%, #69f0c3 120%);

    /* Variables para propiedades de section about */
    --color-second: rgb(120, 67, 233);
    --color-background-about: #fafafa;

    /* Variables para propiedades de botones de proyectos */
    --btn-color-web: rgb(120, 67, 233);
    --btn-color-repo: rgb(51, 51, 51);

    /* Variables para propiedades de la sección formulario */
    --color-label: #666;
    --color-text-input: #333;
    --input-border: #ebebeb;
    --background-input: #ebebeb;

}

*, ::after, ::before {
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Source Sans 3";
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    display: block;
    unicode-bidi: isolate;
}

div {
    display: block;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

label {
    cursor: default;
}

button {
    border: none;
    cursor: pointer;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* ======== Propiedades del header ======== */
header {
    display: block;
    unicode-bidi: isolate;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: var(--color-links);
    background: var(--color-fondo-header);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.header__sub {
    display: flex;
    align-items: center;
    transition: color .3s;
}

#titulo a {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--color-links);
    font-weight: 700;
    letter-spacing: 1px;
    transition: color .3s;
}

#titulo a:hover {
    color: var(--color-links-hover);
}

.header__links {
    display: flex;
}

.header__links .header__link:hover {
    color: var(--color-links-hover);
}

.header__link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: var(--color-links);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

.header__sm-menu {
    background: var(--color-fondo-header);
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

/* .header__sm-menu--active {

} */

/* .header__sm-menu-content {

} */

/* .header__sm-menu-links {

} */

/* .header__sm-menu-link {
    
} */


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    list-style: none;
}

a {
    text-decoration: none;
}

/* ======== Propiedades del section home ======== */
/* Home */
.home-hero {
    color: var(--color-background);
    /* background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)); */
    background: var(--gradient-background);
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}

.home-hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}

.heading-primary {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: var(--color-text);
    font-weight: 800;
}

.text-primary {
    color: var(--color-text);
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

.home-hero__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.home-hero__cta {
    margin-top: 5rem;
    text-align: center;
}

.btn {
    background: var(--color-btn);
    color: var(--color-text-btn);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.btn--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
}

/* Redes sociales */

.home-hero__socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-background);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: .5rem;
}

.home-hero__social {
    width: 5rem;
}

.home-hero__social-icon-link {
    width: 100%;
    display: block;
    padding: 1rem;
    transition: background .3s;
    border-radius: 5px;
}

.home-hero__social-icon-link:hover {
    background: var(--color-hover);
}

.home-hero__social-icon {
    width: 100%;
}

/* Mouse */
.home-hero__mouse-scroll-cont {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-fondo-header);
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

/* Animación del mouse scroll */
@keyframes wheel {
    0% {
        top: 5px;
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 27px;
    }
  }
/* ======== Propiedades del section about ======== */
.about {
    background: var(--color-background-about);
}

.sec-pad {
    padding: 12rem 0;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.heading-sec__mb-med {
    margin-bottom: 9rem;
}

.heading-sec__main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: var(--color-text);
}

.heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: var(--color-second);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.heading-sec__sub {
    display: block;
    text-align: center;
    color: var(--color-sub-text);
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

.about__content-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.about__content-details-para {
    font-size: 1.8rem;
    color: var(--color-sub-text);
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.about__content-details-para a {
    text-decoration: underline;
    font-weight: 700;
    color: var(--color-second);
    margin: 0 3px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: var(--color-sub-text);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

strong {
    font-weight: bold;
}

/* ======== Propiedades del section projects ======== */

.heading-sec__mb-bg {
    margin-bottom: 11rem;
}

.projects__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 11rem;
    display: grid;
    gap: 3rem;
    padding: 20px;
}

.proyecto {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proyecto-content {
    padding: 2rem 0;
}

.proyecto-content-title {
    text-align: center;
    font-weight: 700;
    font-size: 2.8rem;
    margin: 0.5rem 1rem;
}

.proyecto-content-desc {
    font-size: 1.5rem;
    color: var(--color-sub-text);   
    max-width: 60rem;
    line-height: 1.7;
    margin: 1rem;
}

.proyecto-content-details {
    height: 50px;
}

.proyecto-img {
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    transition: width .3s;
}

/* Pre visualización de proyectos */
.proyecto-preview {
    position: relative;
    display: flex;
    justify-content: center;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;

}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.texto-overlay {
    color: var(--color-links);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

dialog {
    padding: 0;
    border-radius: 5px;
    border: none;
    background: transparent;
    max-height: 100%;
    max-width:80%;
    text-align: center;
    position: fixed;
    margin: auto;
}

dialog:focus {
    outline: none;
}

dialog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Animación de entrada y salida */
dialog[open] {
    scale: 1;
    transition: scale .3s ease-in-out;

    @starting-style {
        opacity: 0;
        scale: 0;
    }
}

dialog {
    transition: scale .3s ease, display .3s ease allow-discrete;
    scale: 0;
}

/* Animación sencilla del fondo (backdrop) */
dialog::backdrop {
    opacity: 0;
    background-color: #0008;
    transition: opacity 500ms ease-out, display 600ms allow-discrete;
}
  
dialog[open]::backdrop {
    background-color: #0008;
    opacity: 1;
}

@starting-style {
    dialog[open]::backdrop {
        opacity: 0;
    }
}

/* Botón de cierre de preview */
.close {
    outline: none;
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    color: var(--color-sub-text);
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: var(--color-btn);
}

/* Botones de proyectos */
.proyecto-btns {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn-web {
    background: var(--btn-color-web);
    color: var(--color-text-btn);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.btn-repo {
    background: var(--btn-color-repo);
    color: var(--color-text-btn);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.btn--sl {
    padding: 0.5rem 1.3rem;
    font-size: 1.1rem;
}

/* ======== Propiedades de la sección contact ======== */
.background-gradient {
    background: var(--gradient-background);
    background-position: center;
}

.heading-sec__mb-med {
    margin-bottom: 9rem;
}

.heading-sec__main--lt {
    color: var(--color-text);
    font-weight: 800;
}

.heading-sec__sub--lt {
    color: var(--color-text);
}

/* Propiedades del formulario */
.contact__form-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: var(--color-background);
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}

.contact__form-field {
    margin-bottom: 4rem;
}

.contact__form-label {
    color: var(--color-label);
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.btn--theme {
    background: var(--color-btn);
    color: var(--color-text-btn);
}

.contact__btn {
    width: 30%;
    padding: 2rem 4rem;
    font-size: 1.6rem;
}

.contact__form-input {
    color: var(--color-text-input);
    padding: 2rem;
    width: 100%;
    border: 1px solid var(--input-border);
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: var(--background-input);
    border-radius: 5px;
    font-weight: 600;
    outline: none;
}

textarea {
    resize: none;
}

/* ======== Propiedades del footer ======== */


/* Media queries */
@media only screen and (max-width: 56.25em) {
    html {
        font-size: 56%;
    }
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 59%;
    }
}
